/*@import "tailwindcss/preflight";*/
@import "tailwindcss";

@tailwind utilities;

@theme {
    --color-bg-primary: #121619;
    --color-bg-secondary: #16191d;
    --color-bg-neutral: #1d2126;
    --color-bg-neutral-lighter: #69788a;
    --color-text-primary: #ffffff;
    --color-text-secondary: #dadada;
}

[data-theme="light"] {
    --color-bg-primary: #f8f9fa;
    --color-bg-secondary: #f1f2f3;
    --color-bg-neutral: #eaebec;
    --color-bg-neutral-lighter: #c3c3c5;
    --color-text-primary: #636363;
    --color-text-secondary: #dadada;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: "Sans-serif", sans-serif;
}

body * {
    @apply transition-colors duration-300;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-secondary) var(--color-bg-secondary);
}