/*@import "tailwindcss/preflight";*/
@import "tailwindcss";

@tailwind utilities;

@theme {
    --color-bg-primary: #121619;
    --color-bg-secondary: #16191d;
    --color-bg-neutral: #1d2126;
    --color-bg-neutral-lighter: #69788a;
    --color-text-primary: #ffffff;
    --color-text-secondary: #dadada;
    --color-text-neutral: #8b8c8e;
}

[data-theme="light"] {
    --color-bg-primary: #f8f9fa;
    --color-bg-secondary: #f1f2f3;
    --color-bg-neutral: #eaebec;
    --color-bg-neutral-lighter: #c3c3c5;
    --color-text-primary: #636363;
    --color-text-secondary: #dadada;
    --color-text-neutral: #8b8c8e;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: "Sans-serif", sans-serif;
}

body * {
    @apply transition-colors duration-300;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-neutral-lighter) rgba(255, 255, 255, 0);
}

button, input, a, textarea {
    outline: none;
}

button:focus-visible, input[type=checkbox]:focus-visible, a:focus-visible, textarea:focus-visible {
    outline: 1px solid var(--color-text-primary);
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-semibold;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}
