/*@import "tailwindcss/preflight";*/
@import "tailwindcss";

@tailwind utilities;

:root {
    --background: #1e2228;
    --foreground: #252931;
}

@theme {
    --color-background-dark: #121619;
    --color-surface-dark: #16191d;
    --color-surface-light: #1d2126;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Sans-serif", sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1d2126 #1d2126;
}